* {
  margin: 0;
  padding: 0;
}

div.tilemap-container {
  display: flex;

  & div.tile_map {
  }

  & div.toolbar {
  }
}

div.tile_map {
  background-color: black;

  display: table;
  table-layout: fixed;;

  div.row {
    display: table-row;
  }

  div.tile {
    width: 64px;
    height: 64px;
    display: table-cell;

    border: 1px solid lightgrey;
    border-collapse: collapse;

    img, div {
      height: 64px;
      width: 64px;
      position: absolute;
    }

    .tile-position {
      background-color: black;
      color: white;

      // FIXME
      display: none;
    }

    &.tile-clear {
      background-color: #c2b280;
      cursor: pointer;
    }

    &.tile-wall {
      background-color: brown;
      cursor: not-allowed;
    }

    div.entity, div.target {
      width: 64px;
      height: 64px;
      // display: inline-block;
    }

    div.target {
      background-color: black;
    }

    div.entity {
      &.entity-player {

      }
    }
  }
}