body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 1em;
  text-align: center;
}

.semi-transparent {
  opacity: 0.5;
}

div.tilemap-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: baseline;
}

div.tile_map {
  background-color: black;
  display: table;
  table-layout: fixed;
  width: min-content;
}

div.tile_map div.row {
  display: table-row;
}

div.tile_map div.tile {
  width: 64px;
  height: 64px;
  display: table-cell;
  border: 1px solid black;
  border-collapse: collapse;
  border-left: none;
  border-bottom: none;
  text-align: center;
}

div.tile_map div.tile img,
div.tile_map div.tile div {
  height: 64px;
  width: 64px;
  position: absolute;
}

div.tile_map div.tile img {
  position: static;
}

div.tile_map div.tile .tile-position {
  background-color: black;
  color: white;
  display: inline-block;
  position: absolute;
  width: 30px;
  margin-left: -15px;
  z-index: 10;
  font-size: 8px;
  text-align: center;
}

div.tile_map div.tile.tile-clear {
  background-color: white;
  cursor: pointer;
}

div.tile_map div.tile div.tile-wall {
  background-color: black;
  cursor: not-allowed;
}

div.tile_map div.tile div.entity,
div.tile_map div.tile div.target,
div.tile_map div.tile div.open_list {
  width: 64px;
  height: 64px;
}

div.tile_map div.tile div.entity-player {
  display: flex;
  justify-content: space-around;
}

div.tile_map div.tile div.entity-player span {
  margin: auto;
}

div.tile_map div.tile div.target {
  display: flex;
  justify-content: space-around;
}

div.tile_map div.tile div.target span {
  margin: auto;
}

div.tile_map div.tile div.path {
  background-color: white;
  display: flex;
  justify-content: space-around;
}

div.tile_map div.tile div.path span {
  margin: auto;
}

div.tile_map div.tile div.open_list {
  background-color: lightblue;
}

div.tile_map div.tile div.closed_list {
  background-color: orange;
}

div.tile_map div.tile div.info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

div.tile_map div.tile div.info-container span.span-g {
  width: 50%;
  text-align: left;
}

div.tile_map div.tile div.info-container span.span-h {
  width: 50%;
  text-align: right;
}

div.tile_map div.tile div.info-container span.span-f {
  font-size: 1.4em;
}

div.toolbar {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
}

div.toolbar button {
  cursor: pointer;
}

div.toolbar * {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.4em;
}

ul.entities-list {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 1.4em;
  padding: 1em;
  list-style-type: none;
}